<html>
<head>
    <title>E-mail Agenda Fácil</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="margin: 0 auto;">
    <br /><br />
    <table width="534" height="500" cellpadding="0" cellspacing="0" align="center" style="border:1px solid #4A4E57; font-family:Arial, sans-serif;">
        <tr>
            <td height="30" align="center" valign="middle" style="background-color:#ffffff" >
                <span style="font-size:18px; font-weight:500;">
                    <img src="#URL#/Content/dist/img/AdminLTELogo.png" alt="Agenda Fácil" title=" Agenda Fácil" />
                </span>
            </td>
        </tr>
        <tr>
            <td height="70" style="background-color: #4f729a; color: #4f729a; border-top: 3px solid #ffffff;" align="center" valign="middle">
                <span style="font-size:18px; text-transform:uppercase; font-weight:500; color:#ffffff">
                    #titulo#
                </span>
            </td>
        </tr>
        <tr>
            <td height="300" style="background-color:#ffffff; font-size:12px; color:#000000; padding: 40px;" valign="top">
                #mensagem#
            </td>
        </tr>
        <tr>
            <td height="100" style="font-size:11px">
                <div style="margin: 10px; line-height:20px; height:25px">
                    <div style="text-align:center">
                        <a href="https://www.instagram.com/" style="margin-right:20px;"><img src="#URL#/Templates/Email/imagens/instagram.png" alt="" title="" /></a>
                        <a href="https://www.facebook.com/" style="margin-right:20px;"><img src="#URL#/Templates/Email/imagens/facebook.png" alt="" title="" /></a>
                        <a href="https://www.linkedin.com/" style="margin-right:20px;"><img src="#URL#/Templates/Email/imagens/linkedin.png" alt="" title="" /></a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <div style="margin: 10px; line-height:20px; height:25px; font-size:12px;">
        <div style="text-align:center; margin-bottom:20px;">
            <font color="#4f729a">
                Atendimento de terças à domingo, das 9:00h às 20:00h.
            </font>
        </div>
    </div>
</body>
</html>