<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Atlas_Template</title>
</head>
<body>
    


    <table width="100%">
      <tr>
        <td>
            <table>
                <th height="30px"></th>
                <tr><td>Rua Amador Bueno, 1173 Loja - Piratininga</td></tr>
                <tr><td>Osasco - SP - CEP: 06230-100</td></tr>
                <tr><td>CNPJ: 00.028.986/0082-73</td></tr>
                <tr><td>INSC. MUNICIPAL 112280</td></tr>
                <th height="30px"></th>
            </table>
        </td>
        <td rowspan="2">
            <table width="100%" border="1" rules="none">
                <tr><th colspan="2">RECIBO PROVISÓRIO DE SERVIÇOS - RPS</th></tr>
                <tr><td><b>Nº</b>	35695</td> <td><b>Nº NFS-E	</b> 1309332</td></tr>
                <tr><td height="40"><b>CÓDIGO DE VERIFICAÇÃO</b></td><td>HOMOLOGACAO</td></tr>
                <tr><td><b>REFERÊNCIA</b></td>	<td><b>EMISSAO</b></td></tr>
                <tr><td>JAN/2020</td><td>10.10.2019</td></tr>
                <tr><td><b>VENCIMENTO</b></td><td><b>POSTO DE ATENDIMENTO</b></td></tr></tr>
                <tr><td>20.01.2020<td>SP21/S11Q</td></td></tr>
                <tr><th colspan="2">Cód. de Controle de Cliente</th></tr>
            </table>
        </td>	    	
      </tr>
      <tr>
        <td>
            <table >
                <tr><td>Cliente - 9213257 </td></tr>
                <tr><td>CONDOMINIO LIFE PARK</td></tr>
                <tr><td>AVENIDA DELMAR 277 ALPHAVILLE EMPRESARIAL</td></tr>
                <tr><td>06465-135 BARUERI - SP</td></tr>
                <tr><td>CNPJ/CPF 28.212.370/0001-01</td></tr>
            </table>
        </td>
      </tr>
    </table>
    <hr width="100%">
    <table  width="100%" style="border-collapse: collapse;">
         <colgroup>
            <col>
            <col>
            <col style="border-left: 1px solid gray;">
        </colgroup>
        <tr>
            <td colspan="2">CONTRATO Nº 1990041409</td>
            <td colspan="6">SERVIÇO DE SUBSTITUIÇÃO DAS SEGUINTES PEÇAS<hr></td>

        </tr>
        <tr>
            <td><b>Descrição de Serviço</b></td>
            <td><b>Valor de Serviço</b></td>
            <td>N. SAÍDA</td>
            <td>SUBST</td>
            <td>MATERIAL</td>
            <td >DESCRICAO</td>
            <td colspan="3">QUANT</td>
        </tr>
        <tr>
            <td>Parcela 03 </td>
            <td>138,50 </td>
        </tr>
        <tr>
            <td>VALOR TOTAL </td>
            <td>138,50 </td>
        </tr>
        <tr>
            <td>DEDUÇÕES/DESC </td>
            <td>0,00</td>
        </tr>
        <tr>
            <td>BASE DE CÁLCULO DO ISS </td>
            <td>141,97</td>
        </tr>
        <tr>
            <td>ALÍQUOTA DO ISS (%) </td>
            <td>3,00</td>
        </tr>
        <tr>
            <td>VALOR DO ISS </td>
            <td>4,16</td>
        </tr>
        <tr>
            <td>VALOR DO ISS RETIDO  </td>
            <td>0,00</td>
        </tr>
        <tr>
            <td>PIS/COFINS E CSLL  </td>
            <td>0,00</td>
        </tr>
        <tr>
            <td>IMPOSTO DE RENDA</td>
            <td>0,00</td>
        </tr>
    </table>
    <p><b>INSTALAÇÕES</b></p>
    <p>EEL2005900 </p>
    <p>O percentual aproximado dos tributos incidentes nesta prestacao de servicos e 13,45% Trib. Federal, 3,90% Trib. Municipal-Lei n(o) 12741/12-Fonte IBTP</p>
    <p>EXISTE(M) FATURA(S) EM ATRASO, FAVOR CONTATAR DEPTO.COBRANÇA</p>
    <hr>


<table width="100%">
      <tr>
        <td>
            <table>
                <th height="30px"></th>
                <tr><td>Rua Amador Bueno, 1173 Loja - Piratininga</td></tr>
                <tr><td>Osasco - SP - CEP: 06230-100</td></tr>
                <tr><td>CNPJ: 00.028.986/0082-73</td></tr>
                <tr><td>INSC. MUNICIPAL 112280</td></tr>
                <th height="30px"></th>
            </table>
        </td>
        <td rowspan="2">
            <table width="100%" border="1" rules="none">
                <tr><th colspan="2">RECIBO PROVISÓRIO DE SERVIÇOS - RPS</th></tr>
                <tr><td><b>Nº</b>	35696</td> <td><b>Nº NFS-E	</b> 1309482 </td></tr>
                <tr><td height="40"><b>CÓDIGO DE VERIFICAÇÃO</b></td><td>HOMOLOGACAO</td></tr>
                <tr><td><b>REFERÊNCIA</b></td>	<td><b>EMISSAO</b></td></tr>
                <tr><td>NOV/2019</td><td>10.10.2019</td></tr>
                <tr><td><b>VENCIMENTO</b></td><td><b>POSTO DE ATENDIMENTO</b></td></tr></tr>
                <tr><td>20.11.2019 <td>SP21/S11Q</td></td></tr>
                <tr><th colspan="2">Cód. de Controle de Cliente</th></tr>
            </table>
        </td>	    	
      </tr>
      <tr>
        <td>
            <table >
                <tr><td>Cliente - 9213257</td></tr>
                <tr><td>CONDOMINIO LIFE PARK</td></tr>
                <tr><td>AVENIDA DELMAR 277 ALPHAVILLE EMPRESARIAL</td></tr>
                <tr><td>06465-135 BARUERI - SP</td></tr>
                <tr><td>CNPJ/CPF 28.212.370/0001-01</td></tr>
            </table>
        </td>
      </tr>
    </table>
    <hr width="100%">
    <table  width="100%" style="border-collapse: collapse;">
         <colgroup>
            <col>
            <col>
            <col style="border-left: 1px solid gray;">
        </colgroup>
        <tr>
            <td colspan="2">CONTRATO Nº 1990041407</td>
            <td colspan="6">SERVIÇO DE SUBSTITUIÇÃO DAS SEGUINTES PEÇAS<hr></td>

        </tr>
        <tr>
            <td><b>Descrição de Serviço</b></td>
            <td><b>Valor de Serviço</b></td>
            <td>N. SAÍDA</td>
            <td>SUBST</td>
            <td>MATERIAL</td>
            <td >DESCRICAO</td>
            <td colspan="3">QUANT</td>
        </tr>
        <tr>
            <td>Parcela 01 </td>
            <td>832,34</td>
        </tr>
        <tr>
            <td>VALOR TOTAL </td>
            <td>832,34</td>
        </tr>
        <tr>
            <td>DEDUÇÕES/DESC </td>
            <td>0,00</td>
        </tr>
        <tr>
            <td>BASE DE CÁLCULO DO ISS </td>
            <td>141,97</td>
        </tr>
        <tr>
            <td>ALÍQUOTA DO ISS (%) </td>
            <td>3,00</td>
        </tr>
        <tr>
            <td>VALOR DO ISS </td>
            <td>24,97 </td>
        </tr>
        <tr>
            <td>VALOR DO ISS RETIDO  </td>
            <td>0,00</td>
        </tr>
        <tr>
            <td>PIS/COFINS E CSLL  </td>
            <td>0,00</td>
        </tr>
        <tr>
            <td>IMPOSTO DE RENDA</td>
            <td>0,00</td>
        </tr>
    </table>
    <p><b>INSTALAÇÕES</b></p>
    <p>EEL2005950</p>
    <p>O percentual aproximado dos tributos incidentes nesta prestacao de servicos e 13,45% Trib. Federal, 3,90% Trib. Municipal-Lei n(o) 12741/12-Fonte IBTP</p>
    <p>EXISTE(M) FATURA(S) EM ATRASO, FAVOR CONTATAR DEPTO.COBRANÇA</p>
    <hr>




</body>
</html>
