<?xml version="1.0" encoding="utf-8" ?>
<ajaxControlToolkit>
  <controlBundles>    
    <controlBundle>     
        <control name="CalendarExtender"></control>
        <control name="ComboBox"></control>
        <control name="FilteredTextBoxExtender"></control>
        <control name="RoundedCornersExtender"></control>
        <control name="TabContainer"></control>
        <control name="DropShadowExtender"></control>
        <control name="AjaxFileUpload"></control>
        <control name="UpdatePanelAnimationExtender"></control>
    </controlBundle>
  </controlBundles>
</ajaxControlToolkit>